@page{
    size: auto;
    margin: 0;
  }

  *{
    box-sizing: border-box;
  }

  .text{
    position: absolute;
    top:30%;
    padding-left: 50%;
  }
  .photo{
    position: relative;
    padding-top: 5%;
    padding-left: 15%;
  }
  .photo  img{
    position: relative;
    width: 380px;
    height: 480px;
    border-radius:10% 10% 10% 10%;
  }


  .header{
    position: relative;
    padding-top: 10%; 
    height: 50px;
    }

  .header  ul{
      list-style: none; /*去掉列表前面的圆点*/
  }
  .header  ul li{ /*todo: position adapting to the page */
      float: left;
      font-size: 38px;
      width: 30%;
  }

  .text  ul{
    list-style: none; /*去掉列表前面的圆点*/
}
  .text ul li{
    list-style: none; /*去掉列表前面的圆点*/
    font-size: 20px;
    font-family: cursive, "sans-serif"; 
    color:#d9d3da;
  }
  
  .header  ul li a{
      display: block; /*将超链接转为块儿，可以保证其霸占父亲的整行*/
      height: 50px;
      text-decoration: none; /*去掉超链的下划线*/
      color:#f0b459;
      text-align: center;  /*让这个div内部的文本居中*/
  }

  body{
    background-color: rgb(1, 22, 3);
  }
  